.footer {
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    width: 100%;
    margin-top: 50px;
    font-size: large;
}

#addItemB {
    float: right;
    margin-top: 10px;
}

#dropZone {
    border: 3px dashed #0088cc;
    padding: 50px;
    width: 100%;
    margin-top: 20px;
}

#files {
    border: 1px dotted #0088cc;
    padding: 20px;
    width: 200px;
    display: none;
}

#error {
    color: red;
}


